<h1 class="flags">Welcome to FUZZ HomePage</h1>


<div id="ltime" class="localtime">
	<%= @localTime %>
</div>

<div class="linktootherpage">
	<span>Link To Other Page</span>
	------------------------------
	<ul>
		<li><a href="http://www.baidu.com">Baidu</a></li>
		<li><a href="http://www.sina.com.cn/">Sina</a></li>
		<li><a href="http://www.qq.com/">QQ</a></li>
	</ul>
</div>

<div class="pagetrans">

	<%=link_to '<button class="btn btn-primary btn-lg" type="button">Local Page Jump</button>'.html_safe, "/link/otherpage"%>
	

</div>


<script type="text/javascript">
	Date.prototype.Format = function (fmt) { //author: meizz 
	    var o = {
	        "M+": this.getMonth() + 1, //月份 
	        "d+": this.getDate(), //日 
	        "h+": this.getHours(), //小时 
	        "m+": this.getMinutes(), //分 
	        "s+": this.getSeconds(), //秒 
	        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
	        "S": this.getMilliseconds() //毫秒 
	    };
	    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
	    for (var k in o)
	    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
	    return fmt;
	}
    var timeId = document.getElementById("ltime");
	setInterval("sayHello()",1000);
	function sayHello(){
		var cdate = new Date().Format("yyyy-MM-dd hh:mm:ss");
		timeId.innerHTML = cdate;
	}


</script>



